* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
  text-align: center;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #111;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #f1c40f;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-top: 80px;
}

.wrapper {
  width: 90%;
  max-width: 600px;
  margin-top: 100px;
  padding: 30px;
  background-color: #030824;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.input-container label {
  font-size: 1.6em;
  margin-bottom: 12px;
  color: white;
}

.input-container input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 2px solid #f1c40f;
  text-align: center;
  background-color: #fff;
  color: #000;
  outline: none;
}

.input-container input:focus {
  border-color: #ffcc00;
  background-color: #f9f9f9;
}

.clear-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  cursor: pointer;
  transition: background 0.3s;
}

.clear-btn:hover {
  background-color: #e6b800;
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  width: 100%;
  max-width: 500px;
}

#output p {
  font-size: 2em;
  font-weight: bold;
}

#output ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

#output li {
  font-size: 1.6em;
  margin: 15px 0;
  font-weight: 500;
  color: #333;
}

.error {
  color: red;
  font-size: 1.6em;
  margin-top: 20px;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  padding: 18px;
  background-color: #111;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
